target/**
.classpath
.factorypath
.project
.settings/**
target/**
.flattened-pom.xml
relations_plugin.iml
node_modules
package-lock.json
.vs/
.vscode/
.idea/*
!.idea/codeStyles
*.iml
**/.DS_Store
/**/*.bz2
/**/*.rdf
kb_data/upsert*
/**/out
/**/tmp
/**/out.*
/**/input_data
/**/*.tar
/**/*.log
wikidata-tools/schema.txt.after
ATTIC/**